@layer theme {
  :root {
    color-scheme: light dark;
  }

  [data-theme='light'] {
    color-scheme: light;
  }

  [data-theme='dark'] {
    color-scheme: dark;
  }

  body {
    background-color: var(--hl-color-bg);
    color: var(--hl-color-fg);
  }
}
